/*

http://www.colourlovers.com/palette/2080987/HackingIntheDark
Background - "Dark Charcoal" (#181818)
Foreground text - White (#fff)
Links - "Dark Forest Green" (#107010)
Hover Links - "Golf Green" (#18a718)
Headings - "Deep Orange" (#df8020)
Heading Border & Trim - "Caution Orange" (#ffc40c)

*/

.hackinthedark,
.hackinthedark #wrap,
.hackinthedark #footer {
    background-color: #181818;
    color: #fff;
    font-family: "Palatino Linotype", Palatino, serif;
    font-size: 18px;
}

.hackinthedark a {
    color: #107010;
}

.hackinthedark a:active,
.hackinthedark a:hover {
    color: #18a718;
}

.hackinthedark .brand,
.hackinthedark a.brand,
.hackinthedark a.brand:active,
.hackinthedark a.brand:hover {
    color: #fff;
    text-decoration: none;
    font-family: Courier New, serif;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 10px;
}

.hackinthedark .tagline {
    font-style: italic;
    font-family: "Palatino Linotype", Palatino, serif;
}

.hackinthedark .content-title .tagline {
    font-style: normal;
    font-family: Courier New, serif;
}

/*
.hackinthedark li.active a,
.hackinthedark li.active a:hover {
    color: #fff;
    text-decoration: none;
    cursor: default;
}
*/

.hackinthedark .navlinks,
.hackinthedark .footerlinks,
.hackinthedark #footer {
    font-family: "Lucida Sans Unicode", "Lucida Grand", sans-serif;
}

.hackinthedark .footerlinks img {
    vertical-align: middle;
}

.hackinthedark h1 {
    font-weight: bold;
}

.hackinthedark h1,
.hackinthedark h2,
.hackinthedark h3,
.hackinthedark h4 {
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grand", sans-serif;
}

.hackinthedark strong {
    font-weight: bold;
}

.hackinthedark li {
    list-style-type: disc;
}
